@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Poppins&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --clr-dark-purple: #2a004e;
  --clr-purple: #8174a0;
  --clr-light-purple: #a888b5;
  --clr-dark-red: #c62300;
  --clr-grey: #808080;
  --clr-white: #f7f7f8;
  --font-family: "Ubuntu", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr-dark-purple);
  color: var(--clr-white);
}

h1 {
  font-family: "Playwrite AU SA", serif;
  padding-top: 20px;
}

#current-player {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.board-name {
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1px;
}

#boards {
  display: flex;
  gap: 30px;
}

.board-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-container.dimmed {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 45px);
  grid-template-rows: repeat(10, 45px);
  margin: 20px;
  margin-top: 10px;
  border: 1px solid black;
}

#board-2-container .ship {
  background-color: transparent;
}

/* #board-2-container .ship:hover {
  background-color: var(--clr-purple);
} */

#board-2-container .square.active:hover {
  background-color: var(--clr-purple);
}
/* 
#board-2-container .ship.sunk {
  background-color: red;
}

#board-2-container .ship.hit {
  background-color: pink;
} */

.square {
  border: 1px solid var(--clr-purple);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .square:hover {
  background-color: var(--clr-purple);
} */

.square i {
  font-size: 20px;
  color: var(--clr-white);
}

.ship {
  background-color: var(--clr-light-purple);
}

.sunk {
  background-color: red;
}

.hit {
  background-color: var(--clr-grey);
}

.missed {
  /* background-color: var(--clr-purple); */
  color: var(--clr-purple);
}

#sunken-ships-container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 500px 500px;
  gap: 30px;
  /* margin: 20px; */
}

.sunk-ships {
  /* padding: 10px; */
  text-align: center;
  /* text-transform: capitalize; */
  border: 1px solid green;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  /* color: var(--clr-light-purple); */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background-color: var(--clr-purple);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--clr-purple);
  font-size: 16px;
  transition: background-color 0.3s ease;
  border: 2px solid var(--clr-white);
  color: var(--clr-white);
}

.modal-content button:hover {
  background-color: var(--clr-white);
  color: var(--clr-purple);
}

.board.disabled {
  pointer-events: none;
  opacity: 0.5;
}

#place-ships-modal {
  position: fixed;
  top: 200px;
  left: 55%;
  height: 300px;
  /* width: 40%; */
  border: 2px solid red;
  background-color: var(--clr-light-purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* opacity: 0.9; */
}

#place-ships-modal form {
  /* padding-top: 20px; */
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid green;
  /* height: 100%; */
  align-items: center;
}

.ship-placement {
  border: 1px solid black;
  display: grid;
  padding: 0 10px;
  grid-template-columns: 120px 50px 50px 100px;
  gap: 10px;
  align-items: center;
}

#place-ships-modal h2 {
  text-align: center;
}

#place-ships-modal input {
  width: 40px;
  height: 30px;
  /* outline: none; */
}

#place-ships-modal button {
  margin-top: 10px;
  /* margin: 10px 20px; */
  width: 50%;
}

#row-col-label {
  display: flex;
  justify-content: center;
  gap: 11px;
  color: var(--clr-dark-purple);
}

label.success {
  border: 2px solid green;
}

label.error {
  border: 2px solid red;
}
